.carousel{
    background-image: linear-gradient(180deg,#B6B7B7, #231F20);
    font-size: 16px;

    &__item{
        width: 100%;
        padding: 250px 0 70px 0;
        border-radius: 10px;

        &--1{
            background-image: url("../img/carousel-office.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: repeat;
        }

        &--2{
            background-image: url("../img/carousel-meeting.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: repeat;
        }

        &--3{
            background-image: url("../img/carousel-corridor.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: repeat;
        }
    }

    &__content{
        text-align: center;
        color: #fff;
    }

    &__subtitle{
        margin: 0 0 20px 0;
    }
}

.slick{

    &-slider{

    }

    &-list{
        overflow: hidden;
    }

    &-track{
        display: flex;
        align-items: flex-start;
    }
}

.slider{
    min-width: 0;
    max-width: 100%;
    position: relative;

    .slick-arrow{
        position: absolute;
        top: calc(50% - 25px);
        z-index: 10;
        font-size: 0;
        width: 50px;
        height: 50px;
        background-color: transparent;

    }

    .slick-arrow.slick-prev{
        left: 30px;
        background-image: url('../img/prev.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .slick-arrow.slick-next{
        right: 30px;
        background-image: url('../img/next.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .slick-arrow.slick-disabled{
        opacity: 0.2;
    }

    .slick-dots{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: calc(50% - 90px);
    }

    .slick-dots li{
        margin: 0 25px;
    }

    .slick-dots button{
        font-size: 0;
        width: 10px;
        height: 10px;
        box-shadow: 0px 0px 0px 1px #fff;
        border-radius: 50%;
        background-color: transparent;
    } 

    .slick-dots li.slick-active button{
        background-color: #fff;
    }
}

@media(max-width: 682px){
    .slider{

        .slick-arrow{
            width: 25px;
            height: 25px;
            top: calc(50% - 12.5px)
        }

        .slick-dots li{
            margin: 0 15px;
        }

        .slick-dots{
            left: calc(50% - 55.25px);
        }

        .slick-dots button{
            width: 5px;
            height: 5px;
        }
    }

    .carousel{

        &__item{
            padding: 280px 0 40px 0;
        }
    }
}

@media(max-width: 440px){
    .slider{

        .slick-slide{
            width: 100%;
        }

        .slick-arrow.slick-prev{
            left: 10px;
        }
    
        .slick-arrow.slick-next{
            right: 10px;
        }
    }
}
