.contact{
    background-image: url("../img/card-window.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__template{
        background-color: rgba(182, 183, 183, 0.9);
        position: relative;
    }

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 25px 40px 25px;
    }

    &__title{
        color: #231F20;
        margin: 0 0 20px 0;
    }

    &__form{
        width: 100%;
    }

    &__form-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__row{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__col{
        padding: 5px;
        width: 50%;
    }

    &__input{
        width: 100%;
        height: 50px;
        background-color: rgba(49, 126, 170, 0.7);
        border-radius: 10px;
        color: #fff;
        padding: 5px;
        border: 1px solid #fff;
        transition: all 350ms ease-out;
    }

    &__input:focus{
        background-color: #231F20;
        border: 1px solid #317EAA;

        ::placeholder{
            color: #317eaa;
        }
    }

    &__input:focus::placeholder{
        color: #317eaa;
    }

    &__textarea-container{
        padding: 5px;
    }

    &__textarea{
        height: 150px;
        padding: 15px 0 0 5px;
    }

    &__btn{
        margin: 5px auto;
    }

    ::placeholder{
        color: white;
    }

    .custom-shape-divider-top-1625840994 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1625840994 svg {
        position: relative;
        display: block;
        width: 100%;
        height: 80px;
    }
    
    .custom-shape-divider-top-1625840994 .shape-fill {
        fill: #231F20;
    }
}


@media(max-width: 640px){
    .contact{
        
        &__container{
            padding: 54px 25px 40px 25px;
        }

        .custom-shape-divider-top-1625840994 svg {
            height: 26px;
        }
    }
}

@media(max-width: 500px){
    .contact{

        &__row{
            flex-direction: column;
        }

        &__col{
            width: 100%;
        }
    }
}