@font-face {
	font-family: 'gotham';
	src: url('../fonts/gotham-bold/gothambold1.woff') format('woff');
    font-weight: 700;
}

@font-face {
	font-family: 'gotham';
	src: url('../fonts/gotham-medium-regular/gotham-medium-webfont.woff') format('woff');
    font-weight: 500;
}

@font-face {
	font-family: 'gotham';
	src: url('../fonts/gotham-book/GothamBook.woff') format('woff');
    font-weight: 400;
}

body{
    font-family: 'gotham';
}

.container{
	max-width: 1200px;
    margin: 0px auto;
	padding: 0px 30px;
}

.title{
	
}

.subtitle{
	font-size: 28px;
	font-weight: 500;
}

.descr{
	line-height: 22px;
}

.btn{
	font-size: 18px;
	font-weight: 500;
	padding: 10px 15px;
	border-radius: 5px;
}

.btn--blue{
	background-color: #317eaa;
	color: #fff;
	border: 1px solid #fff;
}

.btn--blue:hover{
	background-color: #b6b7b7;
	color: #231F20;
}