.hero{
    padding-top: 70px;
    width: 100%;
    color: white;
    position: relative;

    &__wrapper{
        background-image: url("../img/hero-background4.jpg");
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__content{
        max-width: 400px;
        position: relative;
        padding: 330px 0 30px 0;
        z-index: 1;
    }

    &__title{
        color: white;
        font-size: 70px;
    }

    &__title--color{
        color: #317eaa;
    }

    .custom-shape-divider-bottom-1625803888 {
        width: 100%;
        overflow: hidden;
        transform: rotate(180deg);
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
    .custom-shape-divider-bottom-1625803888 svg {
        display: block;
        width: 100%;
        height: 350px;
        opacity: 0.7;
    }
    
    .custom-shape-divider-bottom-1625803888 .shape-fill {
        fill: #231F20;
    }
}

@media(max-width: 991px){
    .hero{

        &__title{
            font-size: 56px;
        }
    }
}

@media(max-width: 768px){
    .hero{

        &__content{
            max-width: 220px;
        }

    }
}

@media(max-width: 420px){
    .hero{

        &__title{
            font-size: 50px;
        }
    }
}

@media(max-width: 370px){
    .hero{

        &__title{
            font-size: 40px;
        }
    }
}