@font-face {
  font-family: 'gotham';
  src: url("../fonts/gotham-bold/gothambold1.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: 'gotham';
  src: url("../fonts/gotham-medium-regular/gotham-medium-webfont.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: 'gotham';
  src: url("../fonts/gotham-book/GothamBook.woff") format("woff");
  font-weight: 400;
}

body {
  font-family: 'gotham';
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 30px;
}

.title {
  font-size: 48px;
  font-weight: 700;
}

.subtitle {
  font-size: 28px;
  font-weight: 500;
}

.descr {
  line-height: 22px;
}

.btn {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}

.btn--blue {
  background-color: #317eaa;
  color: #fff;
  border: 1px solid #fff;
}

.btn--blue:hover {
  background-color: #b6b7b7;
  color: #231F20;
}

.btn--black {
  border: 1px solid white;
  background-color: #317eaa;
  color: white;
  padding: 10px 25px;
}

.btn--black:hover,
.btn--black:active {
  background-color: #231F20;
  color: #317eaa;
}

@-webkit-keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
    display: block;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
    display: block;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}

body._lock {
  overflow: hidden;
}

/* ------------------ */
/* ------------------ */
/* ------------------ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  z-index: 10;
  background-color: #303030;
  -webkit-box-shadow: 0px 1px 11px -1px #000000;
          box-shadow: 0px 1px 11px -1px #000000;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 70px;
}

.header__logo {
  position: relative;
  z-index: 5;
  min-width: 180px;
  max-width: 180px;
}

.header__logo img {
  width: 100%;
}

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}

.menu__link {
  color: #ddd;
  font-size: 18px;
}

.menu__link:hover {
  color: #fff;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #303030;
  padding: 15px;
  min-width: 200px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.menu__sub-list li {
  margin: 0px 0px 20px 0px;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__sub-link {
  color: #ddd;
}

.menu__sub-link:hover {
  color: #fff;
}

.menu__arrow {
  display: none;
}

/* ----------------------- */
body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #ddd;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 25px);
          transform: translate(0px, 25px);
  pointer-events: all;
}

/* ----------------------- */
@media (min-width: 851px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__link {
    padding: 25px 0;
  }
  .menu__sub-list {
    -webkit-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .menu__sub-link {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media (max-width: 851px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #ddd;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #414141;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #303030;
    z-index: 2;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__sub-list {
    position: relative;
    background-color: #303030;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }
  .menu__sub-list > li {
    margin: 0 0 20px 0;
  }
  .menu__sub-link {
    font-size: 20px;
    color: #ddd;
  }
}

.hero {
  padding-top: 70px;
  width: 100%;
  color: white;
  position: relative;
}

.hero__wrapper {
  background-image: url("../img/hero-background11.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.hero__content {
  max-width: 400px;
  position: relative;
  padding: 330px 0 30px 0;
  z-index: 1;
}

.hero__subtitle {
  color: #ddd;
}

.hero__title {
  color: #ddd;
  font-size: 70px;
  font-weight: 700;
}

.hero .custom-shape-divider-bottom-1625803888 {
  width: 100%;
  overflow: hidden;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  left: 0;
  bottom: 0;
}

.hero .custom-shape-divider-bottom-1625803888 svg {
  display: block;
  width: 100%;
  height: 350px;
  opacity: 0.8;
}

.hero .custom-shape-divider-bottom-1625803888 .shape-fill {
  fill: #303030;
}

@media (max-width: 991px) {
  .hero__title {
    font-size: 56px;
  }
}

@media (max-width: 768px) {
  .hero__content {
    max-width: 220px;
  }
}

@media (max-width: 420px) {
  .hero__title {
    font-size: 50px;
  }
}

@media (max-width: 370px) {
  .hero__title {
    font-size: 40px;
  }
}

.cards {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#231F20), color-stop(#317EAA), to(#231F20));
  background-image: linear-gradient(180deg, #231F20, #317EAA, #231F20);
  position: relative;
  padding: 40px 0 120px 0;
}

.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards .custom-shape-divider-bottom-1625819167 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cards .custom-shape-divider-bottom-1625819167 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cards .custom-shape-divider-bottom-1625819167 .shape-fill {
  fill: #231F20;
}

.cards .custom-shape-divider-bottom-1625842421 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cards .custom-shape-divider-bottom-1625842421 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.cards .custom-shape-divider-bottom-1625842421 .shape-fill {
  fill: #b6b7b7;
}

.card {
  border-radius: 10px;
  min-width: 220px;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__top {
  position: relative;
  max-width: 100%;
}

.card__top img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__original-img {
  display: block;
  width: 100%;
}

.card__alternative-img {
  display: none;
  width: 100%;
}

.card__content {
  background-color: #231F20;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__subtitle {
  margin: 5px 0 0 0;
}

.card__descr {
  margin: 10px 0 20px 0;
}

.card__btn {
  margin: 0 0 0 auto;
}

.card--1 {
  width: calc(100% / 3);
}

.card--2 {
  width: calc(100% / 3);
}

.card--3 {
  width: calc(100% / 3);
}

.card--4 {
  width: 100%;
}

@media (max-width: 767px) {
  .card__original-img {
    display: none;
  }
  .card__alternative-img {
    display: block;
  }
}

@media (max-width: 719px) {
  .card--1 {
    width: calc(100% / 2);
  }
  .card--2 {
    width: calc(100% / 2);
  }
  .card--3 {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .cards {
    padding: 40px 0 54px 0;
  }
  .cards .custom-shape-divider-bottom-1625842421 svg {
    height: 26px;
  }
}

@media (max-width: 499px) {
  .card--1 {
    width: 100%;
  }
  .card--2 {
    width: 100%;
  }
}

.carousel {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B6B7B7), to(#231F20));
  background-image: linear-gradient(180deg, #B6B7B7, #231F20);
  font-size: 16px;
}

.carousel__item {
  width: 100%;
  padding: 250px 0 70px 0;
  border-radius: 10px;
}

.carousel__item--1 {
  background-image: url("../img/carousel-office.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.carousel__item--2 {
  background-image: url("../img/carousel-meeting.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.carousel__item--3 {
  background-image: url("../img/carousel-corridor.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.carousel__content {
  text-align: center;
  color: #fff;
}

.carousel__subtitle {
  margin: 0 0 20px 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider {
  min-width: 0;
  max-width: 100%;
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: calc(50% - 25px);
  z-index: 10;
  font-size: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.slider .slick-arrow.slick-prev {
  left: 30px;
  background-image: url("../img/prev.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 30px;
  background-image: url("../img/next.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 90px);
}

.slider .slick-dots li {
  margin: 0 25px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  -webkit-box-shadow: 0px 0px 0px 1px #fff;
          box-shadow: 0px 0px 0px 1px #fff;
  border-radius: 50%;
  background-color: transparent;
}

.slider .slick-dots li.slick-active button {
  background-color: #fff;
}

@media (max-width: 682px) {
  .slider .slick-arrow {
    width: 25px;
    height: 25px;
    top: calc(50% - 12.5px);
  }
  .slider .slick-dots li {
    margin: 0 15px;
  }
  .slider .slick-dots {
    left: calc(50% - 55.25px);
  }
  .slider .slick-dots button {
    width: 5px;
    height: 5px;
  }
}

@media (max-width: 440px) {
  .slider .slick-slide {
    width: 100%;
  }
}

.contact {
  background-image: url("../img/card-window.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact__template {
  background-color: rgba(182, 183, 183, 0.9);
  position: relative;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 25px 40px 25px;
}

.contact__title {
  color: #231F20;
  margin: 0 0 20px 0;
}

.contact__form {
  width: 100%;
}

.contact__form-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contact__col {
  padding: 5px;
  width: 50%;
}

.contact__input {
  width: 100%;
  height: 50px;
  background-color: rgba(49, 126, 170, 0.7);
  border-radius: 10px;
  color: #fff;
  padding: 5px;
  border: 1px solid #fff;
  -webkit-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}

.contact__input:focus {
  background-color: #231F20;
  border: 1px solid #317EAA;
}

.contact__input:focus ::-webkit-input-placeholder {
  color: #317eaa;
}

.contact__input:focus :-ms-input-placeholder {
  color: #317eaa;
}

.contact__input:focus ::-ms-input-placeholder {
  color: #317eaa;
}

.contact__input:focus ::placeholder {
  color: #317eaa;
}

.contact__input:focus::-webkit-input-placeholder {
  color: #317eaa;
}

.contact__input:focus:-ms-input-placeholder {
  color: #317eaa;
}

.contact__input:focus::-ms-input-placeholder {
  color: #317eaa;
}

.contact__input:focus::placeholder {
  color: #317eaa;
}

.contact__textarea-container {
  padding: 5px;
}

.contact__textarea {
  height: 150px;
  padding: 15px 0 0 5px;
}

.contact__btn {
  margin: 5px auto;
}

.contact ::-webkit-input-placeholder {
  color: white;
}

.contact :-ms-input-placeholder {
  color: white;
}

.contact ::-ms-input-placeholder {
  color: white;
}

.contact ::placeholder {
  color: white;
}

.contact .custom-shape-divider-top-1625840994 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.contact .custom-shape-divider-top-1625840994 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
}

.contact .custom-shape-divider-top-1625840994 .shape-fill {
  fill: #231F20;
}

#status.success {
  min-width: 282px;
  min-height: 120px;
  padding: 15px;
  background-color: #231F20;
  border: 3px solid #317eaa;
  color: #317eaa;
  -webkit-box-shadow: 0px 0px 10px #317eaa;
          box-shadow: 0px 0px 10px #317eaa;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: status 10s ease forwards;
          animation: status 10s ease forwards;
  text-align: center;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#status.error {
  min-width: 282px;
  min-height: 120px;
  padding: 15px;
  background-color: #231F20;
  border: 3px solid #fa4848;
  color: #fa4848;
  -webkit-box-shadow: 0px 0px 10px #fa4848;
          box-shadow: 0px 0px 10px #fa4848;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: status 10s ease forwards;
          animation: status 10s ease forwards;
  text-align: center;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 640px) {
  .contact__container {
    padding: 54px 25px 40px 25px;
  }
  .contact .custom-shape-divider-top-1625840994 svg {
    height: 26px;
  }
}

@media (max-width: 500px) {
  .contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__col {
    width: 100%;
  }
}

.footer {
  background-color: #1E1E1E;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__row {
  width: 100%;
  margin: 45px 0;
}

.footer__line {
  width: 100%;
  border-bottom: 2px solid lightgrey;
  margin: 10px 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list > li {
  margin: 0px 30px 0px 0px;
}

.nav__list > li:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 18px;
  padding: 5px;
  color: lightgrey;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

.nav__link--small {
  font-size: 14px;
  color: lightgrey;
}

.nav__link:hover, .nav__link:active {
  color: #317eaa;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.nav__link--white:hover, .nav__link--white:active {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.social {
  width: 100%;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__list > li {
  margin: 0px 30px 0px 0px;
}

.social__list > li:last-child {
  margin-right: 0;
}

.social__link {
  font-size: 24px;
  padding: 5px;
  color: lightgrey;
}

.social__link i {
  font-size: 24px;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

.social__link i:hover,
.social__link i:active {
  color: #317eaa;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.autograph {
  background-color: #1E1E1E;
  padding: 0 0 20px 0;
}

.autograph__made-by {
  font-size: 18px;
  text-align: right;
  width: 100%;
}

.autograph__descr {
  width: 100%;
  text-align: right;
}

@media (max-width: 1023px) {
  .nav__list > li {
    margin-top: 25px;
  }
}
/*# sourceMappingURL=main.css.map */