.hero{
    padding: 80px 0;
    font-size: 16px;
    color: #fff;
    background-image: url("../img/hero-background3.jpg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: repeat;

    &__content{
        padding: 450px 0 0 0;
    }

    &__descr{
        display: flex;
        align-items: center;
    }

    &__line{
        display: inline-block;
        width: 100px;
        height: 1px;
        background-color: #fff;
        margin: 0 0 0 10px;
    }
}

@media(max-width: 991px){
    .hero{

        &__title{
            font-size: 56px;
        }
    }
}

@media(max-width: 420px){
    .hero{

        &__title{
            font-size: 50px;
        }
    }
}

@media(max-width: 370px){
    .hero{

        &__title{
            font-size: 40px;
        }
    }
}